.contant{
    width: 100%;
    height: 90vh;
    border-left: 2px solid #000;

}
.header{
    background-color: #ffe4c4;
    height: 10vh;
}
.footer{
    background-color: #008b8b;
    height: 10vh;
}
.flex{
    display: flex;
    width: 100%;
    height: 70vh;
}
.left{
    width: 30%;
    height: 70vh;
    background-color: #fff;
}
.right{
    background-color:#168b18 ;
    width: 70%;
    height: 70vh;
}
/*float*/
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearboth::after{
    display: block;
    content: '';
    clear: both;
}
/* position */
.main{
    position: relative;
}
.main-right{
    position: absolute;
    left:30%;
    top:0;
}



/* кубик*/

.cube{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px;
}
.side{
    margin: 0;
    font-size: 16px;
    color: transparent;
    transition: ease 2s ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #4bb869;
    width: 100px;
    height: 100px;
}
.side__top{
    z-index: 0;
    background-color: #17e952;
    transform: skewx(-45deg) translate(50px,-65px) scaleY(0.3);
}
.side__right{
    z-index: 0;
    background-color: #14702e;
    transform: skewY(-45deg) translate(-35px,-50px ) scalex(0.3);

}
.side__right:hover, .side__top:hover , .side__front:hover{
    font-size: 40px;
    transition: ease 2s ;
    color: rgb(70, 6, 6);    
}
.smile{
    margin: 0;
    width: 50px;
    height: 50px;
}
.smile:hover{
    transition: ease 0.5s ;
    border: 1px solid #000;
    background-color: #ff0000;
    border-radius: 50px;
}


.creature {
    width:  50px;
    height: 50px;
    border-radius: 50%;
    background: yellow;
    position: relative;

}
.creature::before, .creature::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    top: 10px;
    animation: eye 10s ease-in-out infinite;
}
.creature::before { left: 15px; }
.creature::after { right: 15px; }
@keyframes eye {
    10% { transform: scaleY(1.0); }
    30% { transform: scaleY(1.1);}
    50% { transform: scaleY(2); }
    80% { transform: scaleY(1); }
}
.lips__big {
    position: relative;
    width: 20px;
    height: 7px;
    border: 2px solid #ff0000;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background-color: #ff0000;
    top:27px;
    left:12px;
    animation: smile 10s ease-in-out infinite;
}
  @keyframes smile {
    30% { transform: scaleY(0.1); }
    50% { transform: scaleY(1.2); }
    60% { transform: scaleY(1.8); }
    80% { transform: scaleY(0.1); }
}
.lips__small {
    width: 16px;
    height: 4px;
    border: 2px solid #440000;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background-color: #440000;

    animation: smile2 10s ease-in-out infinite;
}
  @keyframes smile2 {
    30% { transform: scaleY(0.1); }
    50% { transform: scaleY(1.2); }
    60% { transform: scaleY(1.3); }
    80% { transform: scaleY(0.1); }
}
.trash{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}