.contant{
    width: 100%;
    height: 90vh;
    border-left: 2px solid #000;

}
.header{
    background-color: #ffe4c4;
    height: 10vh;
}
.footer{
    background-color: #008b8b;
    height: 10vh;
}
.flex{
    display: flex;
    width: 100%;
    height: 70vh;
}
.left{
    width: 30%;
    height: 70vh;
    background-color: #fff;
}
.right{
    background-color:#168b18 ;
    width: 70%;
    height: 70vh;
}
/*float*/
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearboth::after{
    display: block;
    content: '';
    clear: both;
}
/* position */
.main{
    position: relative;
}
.main-right{
    position: absolute;
    left:30%;
    top:0;
}
